h2{
  font-size: 20px;
  color: black;

}

p{
  font-size: 20px;
  font-style:Arial Black;
  color: Arial Black;
}

label{
  font-size: 20px;
  color:Arial Black;
  font-weight: thick;
}

body {
  background-color: green;
  
}
 
